<!--
 * @Author: your name
 * @Date: 2020-06-16 18:42:03
 * @LastEditTime: 2020-06-28 18:32:03
 * @LastEditors: Please set LastEditors
 * @Description: In User Settings Edit
 * @FilePath: \books_management\view\system\person.html
-->
<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8">
	<title></title>
	<link rel="stylesheet" href="../../admin/css/pearButton.css" />
	<link rel="stylesheet" href="../../component/layui/css/layui.css" />
	<style>
		.pear-container {
			background-color: whitesmoke;
			margin: 10px;
		}

		.layui-body {
			padding: 25px;
		}

		.text-center {
			text-align: center;
		}

		.user-info-head {
			width: 110px;
			height: 110px;
			line-height: 110px;
			position: relative;
			display: inline-block;
			border: 2px solid #eee;
			border-radius: 50%;
			overflow: hidden;
			cursor: pointer;
			margin: 0 auto;
		}

		.layui-line-dash {
			border-bottom: 1px dashed #ccc;
			margin: 15px 0;
		}
	</style>
</head>

<body class="pear-container">
	<div class="layui-row layui-col-space10">

		<div class="layui-col-md9">
			<div class="layui-card">
				<div class="layui-card-header">个人信息 </div>
				<div class="layui-card-body">
					<div class="layui-form user-info-form layui-text" style="max-width: 400px;padding-top: 25px;">
						<div class="layui-form-item">
							<label class="layui-form-label">用户名</label>
							<div class="layui-input-block">
								<input type="text" name="user_name" class="user_name layui-input" lay-verify="required"
									required="">
							</div>
						</div>
						<div class="layui-form-item">
							<label class="layui-form-label">手机号</label>
							<div class="layui-input-block">
								<input type="text" name="tel" class="tel layui-input" lay-verify="required" required="">
							</div>
						</div>
						<div class="layui-form-item">
							<label class="layui-form-label">邮箱</label>
							<div class="layui-input-block">
								<input type="text" name="email" class="email layui-input" lay-verify="required"
									required="">
							</div>
						</div>

						<div class="layui-form-item">
							<div class="layui-input-block">
								<button class="modify-info pear-btn pear-btn-success" lay-filter="modify-info"
									lay-submit="">
									更新信息
								</button>
								<button class="modify-password pear-btn pear-btn-danger" lay-filter="modify-password"
									lay-submit="">
									修改密码
								</button>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="layui-col-md3">
			<div class="layui-card top-panel">
				<div class="layui-card-header">借阅次数</div>
				<div class="layui-card-body">
					<div class="layui-row layui-col-space5">
						<div class="lend layui-col-xs8 layui-col-md8 top-panel-number">
							111
						</div>
						<div class="layui-col-xs4 layui-col-md4  top-panel-tips">
							<i class="layui-icon layui-icon-ok" style="color: #5FB878;"></i>
						</div>
					</div>
				</div>
			</div>
			<div class="layui-card top-panel">
				<div class="layui-card-header">超期次数</div>
				<div class="layui-card-body">
					<div class="layui-row layui-col-space5">
						<div class="overdue layui-col-xs8 layui-col-md8 top-panel-number">
							111
						</div>
						<div class="layui-col-xs4 layui-col-md4  top-panel-tips">
							<i class="layui-icon layui-icon-log" style="color: #5FB878;"></i>
						</div>
					</div>
				</div>
			</div>

		</div>
	</div>

	<div id="password" style="display: none;">
		<form class="layui-form" action="" style="width: 300px;text-align: center;padding: 30px;">
			<div class="mainBox">
				<div class="main-container">
					<div class="layui-form-item layui-row layui-col-xs12">
						<label class="layui-form-label">当前密码</label>
						<div class="layui-input-block">
							<input type="password" name="nowpassword" lay-verify="required" autocomplete="off"
								placeholder="请输入当前密码" class="layui-input" lay-verify="required" required="required">
						</div>
					</div>
					<div class="layui-form-item layui-row layui-col-xs12">
						<label class="layui-form-label">修改密码</label>
						<div class="layui-input-block">
							<input type="text" name="afterpassword" lay-verify="required" autocomplete="off"
								placeholder="请输入修改密码" class="layui-input" lay-verify="required" required="required">
						</div>
					</div>
				</div>
			</div>
			<div class="bottom">
				<div class="button-container">
					<button type="submit" class="layui-btn layui-btn-normal layui-btn-sm" lay-submit=""
						lay-filter="m-password">
						<i class="layui-icon layui-icon-ok"></i>
						提交
					</button>
					<button type="reset" class="layui-btn layui-btn-primary layui-btn-sm">
						<i class="layui-icon layui-icon-refresh"></i>
						重置
					</button>
				</div>
			</div>
		</form>
	</div>
	<script src="../../component/layui/layui.js"></script>
	<script>
		layui.use(['element', 'jquery', 'layer', 'form'], function () {
			var element = layui.element;
			let $ = layui.jquery,
				form = layui.form;
			$.get('../../php/personAPI.php?s=getMyInfo', function (res) {
				res = JSON.parse(res);
				let data = res.data[0];
				$('.user_name').val(data.user_name);
				$('.email').val(data.email);
				$('.tel').val(data.tel);
				$('.lend').text(data.borrow_times);
				$('.overdue').text(data.overdue_times);
			})
			$(".modify-info").on('click', function () {
				layui.layer.open({
					title: '提示',
					content: '确定更新信息？',
					btn: ['是的', '按错了'],
					yes: function () {
						$.ajax({
							url: '../../php/personAPI.php?s=updateInfo',
							type: 'post',
							data: {
								user_name: $('.user_name').val(),
								email: $('.email').val(),
								tel: $('.tel').val()
							},
							success: function (result) {
								result = JSON.parse(result);
								if (result.code == 0) {
									layer.msg(result.msg, {
										icon: 1,
										time: 1000
									}, function () {
										setTimeout('window.location.reload()',
											100);
									});
								} else {
									layer.msg(result.msg, {
										icon: 2,
										time: 1000
									});
									setTimeout('window.location.reload()', 1000);
								}
							}
						})
					}
				})
			})
			$(".modify-password").on('click', function () {
				let index = layui.layer.open({
					type: 1,
					title: '修改密码',
					shade: 0.1,
					area: ['390px', '240px'],
					content: $('#password'),
					success: function (layero, index) {
						form.on('submit(m-password)', function (data) {
							//console.log(JSON.stringify(data.field));
							$.ajax({
								url: '../../php/personAPI.php?s=modifyPwd',
								data: JSON.stringify(data.field),
								dataType: 'json',
								contentType: 'application/json',
								type: 'post',
								success: function (result) {
									if (result.code == 0) {
										layer.msg(result.msg, {
											icon: 1,
											time: 1000
										}, function () {
											location.reload();
										});
									} else {
										layer.msg(result.msg, {
											icon: 2,
											time: 1000
										});
									}
								}
							})
							return false;
						});
					}
				})
			})
		})
	</script>
</body>

</html>