<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title></title>
    <link href="../../component/layui/css/layui.css" rel="stylesheet" />
    <link href="../../admin/css/pearCommon.css" rel="stylesheet" />
</head>

<body class="pear-container">
    <div class="layui-card">
        <div class="layui-card-body">
            <form class="layui-form" action="">
                <div class="layui-form-item layui-input-inline">
                    <label class="layui-form-label">用户名</label>
                    <div class="layui-input-inline">
                        <input type="text" name="user_name" placeholder="" class="layui-input">
                    </div>
                </div>
                <div class="layui-form-item layui-input-inline">
                    <label class="layui-form-label">状态</label>
                    <div class="layui-input-inline">
                        <select name="lend_status" id="lend_status">
                            <!-- 这里动态获取下拉框信息 -->
                            <option value="">请选择</option>
                            <option value="1">借阅申请</option>
                            <option value="2">已批准</option>
                            <option value="3">未批准</option>
                            <option value="4">归还申请</option>
                            <option value="5">已归还</option>
                        </select>
                    </div>
                </div>
                <button class="pear-btn pear-btn-md pear-btn-primary" lay-submit lay-filter="lend_info-query">
                    <i class="layui-icon layui-icon-search"></i>
                    查询
                </button>
                <button type="reset" class="pear-btn pear-btn-md">
                    <i class="layui-icon layui-icon-refresh"></i>
                    重置
                </button>
            </form>
        </div>
    </div>
    <div class="layui-card">
        <div class="layui-card-body">
            <table id="lend-table" lay-filter="lend-table"></table>
        </div>
    </div>
</body>


<script src="../../component/layui/layui.js"></script>
<script>
    layui.use(['table', 'form', 'jquery'], function () {
        let table = layui.table;
        let form = layui.form;
        let $ = layui.jquery;
        let cols = [
            [{
                    title: '借阅信息ID',
                    field: 'lend_id',
                    align: 'center',
                    width: 125
                },
                {
                    title: '用户名',
                    field: 'user_name',
                    align: 'center',
                    width: 180
                },
                {
                    title: '图书号',
                    field: 'isbn',
                    align: 'center',
                    width: 180
                },
                {
                    title: '图书名',
                    field: 'book_name',
                    align: 'center',
                    width: 180
                },
                {
                    title: '价格',
                    align: 'center',
                    field: 'price',
                    width: 80
                },
                {
                    title: '借阅时间',
                    align: 'center',
                    field: 'lend_time',
                    width: 180
                },
                {
                    title: '操作',
                    align: 'center',
                    templet: function (d) {
                        if (d.lend_status == 1) {
                            return '<div><button type="button" class="agree-btn layui-btn layui-btn-sm" book_name="' +
                                d.book_name + '" lend_id="' + d.lend_id +
                                '">同意</button><button type="button" class="reject-btn layui-btn layui-btn-sm layui-btn-danger" book_name="' +
                                d.book_name + '" lend_id="' +
                                d.lend_id + '">拒绝</button></div>';
                        } else if (d.lend_status == 2) {
                            return '<div><button type="button" class="layui-btn-radius layui-btn layui-btn-sm layui-btn-disabled layui-btn-radius" disabled="disabled">已批准</button></div>';
                        } else if (d.lend_status == 3) {
                            return '<div><button type="button" class="layui-btn layui-btn-sm layui-btn-disabled layui-btn-radius" disabled="disabled">未批准</button></div>';
                        } else if (d.lend_status == 4) {
                            return '<div><button type="button" class="return-btn layui-btn layui-btn-sm layui-btn-normal" lend_id="' +
                                d.lend_id + '">确认归还</button></div>';
                        } else if(d.lend_status == 5){
                            return '<div><button type="button" class="layui-btn layui-btn-sm layui-btn-disabled" disabled="disabled">已归还</button></div>';
                        } else{
                            return '<div><button type="button" class="layui-btn layui-btn-sm layui-btn-disabled" disabled="disabled">已取消</button></div>';
                        }
                    },
                }
            ]
        ]
        table.render({
            elem: '#lend-table',
            url: '../../php/lendAPI.php?s=getLendInfo',
            page: true,
            skin: 'line',
            limits: [10, 20, 30],
            limit: 10,
            cols: cols,
            defaultToolbar: [{
                layEvent: 'refresh',
                icon: 'layui-icon-refresh',
            }, 'filter', 'print', 'exports'],
            done: function () { //当数据渲染完，绑定按钮点击事件
                //申请借阅
                $('.agree-btn').each(function () {
                    $(this).on('click', function () {
                        //console.log($(this).attr('book_name'));
                        let lend_id = $(this).attr('lend_id');
                        layer.open({
                            title: '提示消息',
                            content: '是否同意该借阅申请？',
                            btn: ['确定', '取消'],
                            yes: function () {
                                $.ajax({
                                    method: 'POST',
                                    url: '../../php/lendAPI.php?s=agreeApply&lend_id=' +
                                        lend_id,
                                    success: function (res) {
                                        res = JSON.parse(
                                            res);
                                        if (res.code == 0) {
                                            layer.msg(res
                                                .msg, {
                                                    shift:
                                                        -
                                                        1,
                                                    time: 1000,
                                                    icon: 1
                                                });
                                            refresh();
                                        } else {
                                            layer.msg(res
                                                .msg, {
                                                    shift:
                                                        -
                                                        1,
                                                    time: 1000,
                                                    icon: 5
                                                });
                                            refresh();
                                        }
                                    }
                                })
                            }
                        })
                    })
                })
                $('.reject-btn').each(function () {
                    $(this).on('click', function () {
                        //console.log($(this).attr('book_name'));
                        let lend_id = $(this).attr('lend_id');
                        layer.open({
                            title: '提示消息',
                            content: '是否拒绝该借阅申请？',
                            btn: ['确定', '取消'],
                            yes: function () {
                                $.ajax({
                                    method: 'POST',
                                    url: '../../php/lendAPI.php?s=rejectApply&lend_id=' +
                                        lend_id,
                                    success: function (res) {
                                        res = JSON.parse(
                                            res);
                                        if (res.code == 0) {
                                            layer.msg(res
                                                .msg, {
                                                    shift:
                                                        -
                                                        1,
                                                    time: 1000,
                                                    icon: 1
                                                });
                                            refresh();
                                        } else {
                                            layer.msg(res
                                                .msg, {
                                                    shift:
                                                        -
                                                        1,
                                                    time: 1000,
                                                    icon: 5
                                                });
                                            refresh();
                                        }
                                    }
                                })
                            }
                        })
                    })
                })
                $('.return-btn').each(function () {
                    $(this).on('click', function () {
                        //console.log($(this).attr('book_name'));
                        let lend_id = $(this).attr('lend_id');
                        layer.open({
                            title: '提示消息',
                            content: '确认收到该书？',
                            btn: ['确定', '取消'],
                            yes: function () {
                                $.ajax({
                                    method: 'POST',
                                    url: '../../php/lendAPI.php?s=returnBook&lend_id=' +
                                        lend_id,
                                    success: function (res) {
                                        res = JSON.parse(
                                            res);
                                        if (res.code == 0) {
                                            layer.msg(res
                                                .msg, {
                                                    shift:
                                                        -
                                                        1,
                                                    time: 1000,
                                                    icon: 1
                                                });
                                            refresh();
                                        } else {
                                            layer.msg(res
                                                .msg, {
                                                    shift:
                                                        -
                                                        1,
                                                    time: 1000,
                                                    icon: 5
                                                });
                                            refresh();
                                        }
                                    }
                                })
                            }
                        })
                    })
                })
            }
        });

        form.on('submit(lend_info-query)', function (data) {
            console.log(data.field);
            table.reload('lend-table', {
                where: data.field,
                page: {
                    curr: 1
                } //重新从第 1 页开始
            })
            return false;
        });

        window.refresh = function () {
            table.reload('lend-table');
        }

    });
</script>
</body>

</html>