<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title></title>
    <link href="../../component/layui/css/layui.css" rel="stylesheet" />
    <link href="../../admin/css/pearCommon.css" rel="stylesheet" />
</head>

<body class="pear-container">
    <div class="layui-card">
        <div class="layui-card-body">
            <form class="layui-form" action="">
                <div class="layui-form-item layui-input-inline">
                    <label class="layui-form-label">图书名</label>
                    <div class="layui-input-inline">
                        <input type="text" name="book_name" placeholder="" class="layui-input">
                    </div>
                </div>
                <div class="layui-form-item layui-input-inline">
                    <label class="layui-form-label">分类</label>
                    <div class="layui-input-inline">
                        <select name="cate" id="cateList">
                            <!-- 这里动态获取下拉框信息 -->
                            <option value="0">分类1</option>
                            <option value="1">分类2</option>
                            <option value="2">分类3</option>
                        </select>
                    </div>
                </div>
                <button class="pear-btn pear-btn-md pear-btn-primary" lay-submit lay-filter="book-query">
                    <i class="layui-icon layui-icon-search"></i>
                    查询
                </button>
                <button type="reset" class="pear-btn pear-btn-md">
                    <i class="layui-icon layui-icon-refresh"></i>
                    重置
                </button>
            </form>
        </div>
    </div>
    <div class="layui-card">
        <div class="layui-card-body">
            <table id="book-table" lay-filter="book-table"></table>
        </div>
    </div>
</body>

<script type="text/html" id="book-enable">
    <input type="checkbox" name="book-enable" value="{{d.isbn}}" lay-skin="switch" lay-text="是|否"
        lay-filter="book-enable" {{d.status== 0 ? "checked" : ""}}>
</script>


<script src="../../component/layui/layui.js"></script>
<script>
    layui.use(['table', 'form', 'jquery'], function () {
        let table = layui.table;
        let form = layui.form;
        let $ = layui.jquery;

        $.post('../../php/cateAPI.php?s=getCate', function (res) {
            $('#cateList').empty();
            $('#cateList').append("<option value=''>全部</option>");
            res = JSON.parse(res);
            for (var k in res.data) {
                $('#cateList').append("<option value='" + res.data[k].cate_id + "'>" +
                    res.data[k]
                    .cate_name +
                    "</option>");
            }
            form.render();
        })

        let cols = [
            [{
                    type: 'checkbox'
                },
                {
                    title: 'ISBN',
                    field: 'isbn',
                    align: 'center',
                    width: 125
                },
                {
                    title: '图书名',
                    field: 'book_name',
                    align: 'center',
                    width: 180
                },
                {
                    title: '作者',
                    field: 'book_author',
                    align: 'center',
                    width: 100
                },
                {
                    title: '出版社',
                    field: 'publisher',
                    align: 'center',
                    width: 180
                },
                {
                    title: '分类',
                    field: 'cate_name',
                    align: 'center',
                    width: 120
                },
                {
                    title: '价格',
                    align: 'center',
                    field: 'price',
                    width: 80
                },
                {
                    title: '可借数量',
                    align: 'center',
                    templet: function (d) {
                        return d.quantity - d.brrow_nums;
                    },
                    width: 100
                },
                {
                    title: '操作',
                    align: 'center',
                    templet: function (d) {
                        if (d.quantity - d.brrow_nums > 0) {
                            return '<div><button type="button" class="lend-btn layui-btn layui-btn-sm" book_name="' +
                                d.book_name + '" isbn="' +
                                d.isbn + '">申请借阅</button></div>';
                        } else {
                            return '<div><button type="button" class="layui-btn layui-btn-sm layui-btn-disabled" disabled="disabled">申请借阅</button></div>';
                        }
                    },
                }
            ]
        ]
        table.render({
            elem: '#book-table',
            url: '../../php/bookAPI.php?s=getBookinfo',
            page: true,
            skin: 'line',
            limits: [10, 20, 30],
            limit: 10,
            cols: cols,
            defaultToolbar: [{
                layEvent: 'refresh',
                icon: 'layui-icon-refresh',
            }, 'filter', 'print', 'exports'],
            done: function () { //当数据渲染完，绑定按钮点击事件
                //申请借阅
                $('.lend-btn').each(function () {
                    $(this).on('click', function () {
                        //console.log($(this).attr('book_name'));
                        let book_name = $(this).attr('book_name');
                        let isbn = $(this).attr('isbn');
                        layer.open({
                            title: '提示消息',
                            content: '确定借阅:《' + book_name + '》？',
                            btn: ['确定', '取消'],
                            yes: function () {
                                $.ajax({
                                    method: 'POST',
                                    url: '../../php/lendAPI.php?s=applyBook&isbn=' + isbn,
                                    success: function (res) {
                                        res = JSON.parse(res);
                                        if (res.code == 0) {
                                            layer.msg(res.msg, {
                                                    shift:- 1,
                                                    time: 1000,
                                                    icon: 1
                                                });
                                                refresh();
                                        } else {
                                            layer.msg(res.msg, {
                                                    shift:-1,
                                                    time: 1000,
                                                    icon: 5
                                                });
                                                refresh();
                                        }
                                    }
                                })
                            }
                        })
                    })
                })
            }
        });

        form.on('submit(book-query)', function (data) {
            table.reload('book-table', {
                where: data.field,
                page: {
                    curr: 1
                } //重新从第 1 页开始
            })
            return false;
        });

        window.refresh = function() {
            table.reload('book-table');
        }
    });
</script>
</body>

</html>