<!--
 * @Author: your name
 * @Date: 2020-06-21 17:35:15
 * @LastEditTime: 2020-06-21 17:47:59
 * @LastEditors: your name
 * @Description: In User Settings Edit
 * @FilePath: \books_management\view\book\cate_manage.html
--> 
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="../../component/layui/css/layui.css" rel="stylesheet" />
    <link href="../../admin/css/pearCommon.css" rel="stylesheet" />
</head>

<body>
    <script src="../../component/layui/layui.js"></script>
    <script>
        layui.use(['form', 'jquery'], function () {
            layer.ready(function name(params) {
                let form = layui.form;
                let $ = layui.jquery;

                //动态获取下拉框
                $.post('../../php/bookAPI.php?s=getCate', function (res) {
                    $('#cateList').empty();
                    $('#cateList').append("<option value=''>请选择</option>");
                    res = JSON.parse(res);
                    for (var k in res.data) {
                        $('#cateList').append("<option value='" + res.data[k].cate_id + "'>" +
                            res.data[k]
                            .cate_name +
                            "</option>");
                    }
                    form.render();
                })
                //console.log(JSON.stringify(data.field));
            })
            return false;
        });
    </script>
    <script>
    </script>
</body>

</html>